.top-bar {
    background-color: white;
    color: white;
}

.content-left, .content-right-top {
  background-color: grey;
}

.content-left {
   height: 400px;
}

.content-right-top {
    height: 200px;
}

.TNWnews_Nav, .TNWnews_Nav .menu li{
  background-color: #ff4020;
}

.TNWnews_Nav a{
  color: white;
  width: 120px;
}

.TNWnews_Nav ul {
  position: absolute;
  min-width: 100%;
}
 
.TNWnews_Nav .menu li a{
  border-top: 1px solid rgb(255, 102, 0);
  color:white;
}

.top-bar-left .dropdown > li:not(.TNWnews_Nav), .follow-channel ul{
    background-color:white;

}

.top-bar-left .dropdown > li:not(.TNWnews_Nav) a  {
    font-size: 14px;
    height: 48px;
    padding: 18px 12px 0 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Shentox Medium',sans-serif;
    font-weight: 500;
    letter-spacing: .02em;
    color: rgb(153, 153, 153);
}

.TNWnes_Nav ~ li a {
  color:white;
  padding-left: 8px;
}

.seach-channel {
	float: right;
}

#twitter-Icon {
	color: rgb(85, 172, 238);
}

#facebook-Icon {
	color:rgb(59, 89, 152);
}

#ellipsis-Icon, #search-Icon {
	color:rgb(153, 153, 153);
}

#search-Icon {
	padding:14px;
}

.follow-channel ul li a {
	padding-left: 12px;
	padding-right: 12px;
}

.follow-channel ul {
	padding-left: 12px;
	padding-right: 12px;
	border-left: 1px solid rgb(243, 243, 243);
	border-right: 1px solid rgb(243, 243, 243);
	display: inline-block;
	margin-left: 150px;
}

/*drop down hover doesn't work*/
/*follow should move with search*/
